body{
	color: #0F1326 !important;

	font-family: 'Quattrocento Sans', sans-serif !important;

}

h2{
	width: 500px;
	padding: 25px;
	margin: 25px;
}
#people-grid{
    margin-top: 60px;
    margin-left: 70px;

}

#people-center{
    margin-top: 60px;
}


.person{
	width: 50%;
	height: 260px;
	float:left;

}

.person-center{
	width: 50%
	height: 260px;
}

.headshot{
	height: 180px;
	width: 220px;
	float: left;
	border-radius: 2px;
	overflow: hidden;
	object-fit:cover;
}

.headshot-center{
	height: 180px;
	width: 220px;
	border-radius: 2px;
	overflow: hidden;
	display: block;
	/*margin: 0 auto;*/
	margin-left: 350px;
	float: left;
	object-fit: cover;
}

.info{
	margin-top: 50px;
	word-wrap: break-word;
	margin-left: 250px;
	line-height: 1.2;
	padding-right: 40px;
}

.info-center{
	margin-top: 50px;
	word-wrap: break-word;
	line-height: 1.2;
	padding-right: 40px;
	margin-left: 600px;
}

.info-names{
	margin-top: 50px;
	word-wrap: break-word;
	margin-left: 70px;
	line-height: 1.2;
}